@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
body {
  background-color: rgb(235, 232, 232);
  font-family: "Montserrat Alternates", sans-serif;
}
nav.top-nav {
  display: flex;
  flex-direction: row;
}
nav.top-nav ul {
  list-style-type: none;
}
nav.social ul {
  list-style-type: none;
  display: flex;
}
div p#main-content {
  width: 75%;
}
